<section class="form">
    <section class="form-title">
        <span>新增接口用户</span>
    </section>
    <section class="item">
        <section class="input-block">
            <label class="item-label">用户编号：</label>
            <input type="text" placeholder="请输入您的用户名" class="txt-input" ng-model="users.userCode" />
        </section>
        <section class="input-block">
            <label class="item-label">用户密码：</label>
            <input type="text" placeholder="请输入您的账号" class="txt-input" ng-model="users.userPass" />
        </section>
    </section>
    <section class="item">
        <section class="input-block">
            <label class="item-label">用户类型：</label>
            <select ng-model="users.userType" ng-options="users.code as users.value for users in userList" class="sex-select"></select>
        </section>
        <section class="input-block">
            <label class="item-label">用户说明：</label>
            <input type="text" placeholder="选择您的性别" class="txt-input" ng-model="users.userRemark" />
        </section>
    </section>
    <section class="item">
        <section class="input-block">
            <label class="item-label">接口状态：</label>
			<select ng-model="users.enabled" ng-options="users.mcode as users.mvalue for users in muserList" class="sex-select"></select>
        </section>
        
    </section>
    
    
    <section class="item" align="center">
        <a class="btn add" ng-click="submit()">保存</a>
        <a class="btn back" href="#/apiuser/list">返回</a>
    </section>
</section>
