
<section style="margin-top:15px;margin-left:0;">
    <a class="btn add" href="#/system/adduser">增加</a>
</section>

<table class="list">
    <caption>系统用户管理</caption>
    <th>
        <tr class="thead">
            <td>用户名</td>
            <td>真实姓名</td>
            <td>隶属部门</td>
            <td>性别</td>
            <td>手机号码</td>
            <td>备注</td>
            <td>用户状态</td>
            <td>操作</td>
        </tr>
    </th>
    <tr class="tmain" ng-repeat="user in users">
        <td>{{user.account}}</td>
        <td>{{user.username}}</td>
        <td>{{user.deptid}}</td>
        <td>{{user.usersex == 1 ? "男": "女"}}</td>
        <td>{{user.userphone}}</td>

        <td>{{user.remark}}</td>
        <td>{{user.enabled == 9 ? "已注销": "正常"}}</td>
        <td>
            <a href="#/system/user/{{user.id}}" class="list-edit btn">编辑</a>
            <button ng-class="{disabled: user.enabled == '9'}" ng-click="delStore(user.id,user.enabled)"
            class="list-delete btn">注销</button>
        </td>
    </tr>
</table>

    <ul class="tcdPageCode">
        <li ng-class="{true:'disabled-page'}[ 1 == currentPage]"><a href ng-click="firstPage()">首页</a></li>
        <li ng-class="{true:'disabled-page'}[ 1 == currentPage]"><a href ng-click="prevPage()">上一页</a></li>
        <li ng-class="pageTool({{n}})" ng-repeat="n in pageToolCursor"><a id="{{n}}" href ng-click="gotoXpage(n)">{{n}}</a></li>
        <li><a>共{{itemsPerPage}}页</a></li>
        <li ng-class="{true:'disabled-page'}[ (currentPage) == itemsPerPage]"><a href ng-click="nextPage()">后一页</a></li>
        <li ng-class="{true:'disabled-page'}[ (currentPage) == itemsPerPage]"><a href ng-click="lastPage()">尾页</a></li>
    </ul>

